:root{
    --gray: #D2D2D2;
    --green: #26694D;
    --light-green: #22CD00;
    --medium-green: #178a00;
    --sombra: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --degradado: linear-gradient(90deg, var(--light-green), var(--green));
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* HEADER */

.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 90px;
    padding: 0.5rem 8%;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: var(--sombra);
    color: var(--green);
}

.header__logo{
    flex-grow: 0;
}

.header__logo img{
    width: 70px;
}

.header__menu{
    flex-grow: 4;
    text-align: center;
}

.header__navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header__navbar li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}

.header__navbar li a{
    text-decoration: none;
    display: inline-block;
    color: var(--green);
}

.header__navbar li a:hover{
    color: var(--light-green);
}

.header__navbar li a.active{
    color: var(--light-green);
}

.nav-bar{
    display: none;
}

/* MAIN */

main{
    margin-top: 100px;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    align-items: center;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 100px auto;
    grid-template-rows: 100px auto;
}

main > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

main > *:nth-child(2){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

main .title{
    width: 100%;
    text-align: center;
}

.sZonasComunes{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.article{
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    grid-area:  "articleImage articleHeader articleHeader"
                "articleImage articleP articleP"
                "articleImage articleP articleP"
                "articleImage articleFooter articleFooter";
    justify-content: center;
    align-items: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: #fff;
}

.article img{
    grid-area: articleImage;
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    border-radius: 20px;
}

.article__header{
    grid-area: articleHeader;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
}

.article p{
    grid-area: articleP;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
}

.article footer{
    grid-area: articleFooter;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
}

.article .btnVerMas{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0;
    background-color: #fff;
    border: none;
    color: var(--green);
    font-family: "Montserrat", sans-serif;
    font-size: inherit;
    cursor: pointer;
}

.article .btnVerMas:hover{
    color: var(--light-green);
}

.article footer a:hover{
    color: var(--light-green);
}


/* MODAL */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    background-color: #111111bd;
    pointer-events: none;
    transition: opacity .5s;
    text-align: center;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;
}

.noticiaModal{
    overflow-y: scroll;
    width: 90%;
    max-width: 1000px;
    max-height: 90%;
    background-color: #fff;
    margin: auto;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: -ms-grid;
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
    transition: .5s;
}

.modal__header h2{
    margin-top: 0px;
    font-size: 2rem;
    transition: .5s;
}

.modal__img{
    width: 50%;
    margin-bottom: 20px;
    transition: .5s;
}

.btnClose{
    position: absolute;
    top: 10%;
    left: 80%;
    color: #fff;
    background-color: #f26250;
    padding: 0.5em;
    border: none;
    border-radius: 50% 50%;
    padding: 8px 10px;
    display: inline-block;
    font-weight: 300;
    border: 1px solid #f26250;
    transition: background-color .3s;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    cursor: pointer;
}

.btnClose--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;
}

.btnClose:hover{
    color: #f26250;
    background-color: #fff;
    border: 1px solid #f26250;
}

/* RESPONSIVE */

@media screen and (max-width: 685px){
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 15vh;
    }

    .header__navbar{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .header__navbar{
        margin: 0;
        padding: 0;
    }

    .header__navbar li{
        padding: 20px;
        padding-right: 0;
        width: 100%;
        border-bottom: 1px solid #000;
    }

    .header__navbar .index{
        border-top: 1px solid #000;
    }

    .header__navbar li a{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__nav{
        position: fixed;
        top: 15vh;
        height: 0;
        opacity: 0;
        width: 100%;
        transition: opacity 0.3s;
        pointer-events: none;
    }

    .header__nav.active{
        display: block;
        opacity: 1;
        background-color: #fff;
        width: 100%;
        height: auto;
        left: 0;
        z-index: 100;
        pointer-events: unset;
        transition: opacity 0.3s;
    }

    .nav-bar{
        display: inline-block;
        color: var(--green);
        cursor: pointer;
        font-size: 1.5em;
    }

    .article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 0;
        z-index: -1;
    }

    .title h1{
        width: 90%;
        margin: auto;
    }

    .title{
        margin-top: 100px;
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    .header{
        height: 10vh;
    }

    .header__nav{
        top: 10vh;
    }
}